body {
    text-align: center;
  }
  
  body h1 {
    font-size: 30px;
    text-transform: uppercase;
  }
  
  body button {
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #canvas {
    border: 2px solid black;
  }
  
  
  select {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 100px;
    text-align-last:center;
  }

  .hidden{
    display: none
  }
  .opacity {
    opacity : 0.2
  }
  .visible {
    display: block;
  }

  #canvascontainer {
    margin-top: 100px;
    width: 70%;
    display: flex;
    justify-content: space-around;

  }

  #game-board {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gameOver {
    width: 100%;
    height: 100%;
    background-color: aquamarine
  }

  #scoreContainer {
    position: relative;
    border: 1px solid black;
    height: 250px;
    width: 250px;
  }