body {
    text-align: center;
    font-family: system-ui;
    background-color: cornsilk;
  }
  
  body h1 {
    font-size: 30px;
    text-transform: uppercase;
  }
  
  body button {
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  #startButton {
    margin-top: 60px;
  }

  
  #canvas {
    border: 2px solid black;
  }
  
  select {
    width: 100px;
    height: 35px;
    font-size: 20px;
    margin-bottom: 70px;
    text-align-last:center;
  }
  .select{
    width: 60%;
    left: 20%;
    position: relative;
  }
  .hidden{
    display: none
  }
  .opacity {
    opacity : 0.2
  }
  .visible {
    display: block;
  }

  #canvascontainer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

  }
  #rest{
    width: 400px;
  }

  #game-board {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gameOver {
    width: 100%;
    height: 100%;
    background-color: aquamarine
  }

  #scoreContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 50px;
    height: 60px;
    border: 1px solid;
  }
  .boxscore {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .selected{
    background: green
  }

  .mode .modeselection {
    display: inline-block;
    cursor: pointer;
    width: 250px; 
    border: 1px solid;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkseagreen;
    color: white;
}

.mode input[type=radio] {
    display: none;
}

.mode input[type=radio]:checked + .modeselection {
    background-color: green;
}
.mode{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.error{
  color: red;
}