body {
    text-align: center;
    font-family: system-ui;
    background-color: floralwhite;
    margin: 0;
    padding: 0
  }
  
  
  body button {
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  #startButton {
    margin-top: 60px;
  }
  
  #canvas {
    border: 2px solid black;
    border-radius: 10px;

  }
  #return{
    margin-top: 20px;
    width: 50%;
    left: 25%;
    position: relative;
  }
  select {
    width: 100px;
    height: 35px;
    font-size: 20px;
    margin-bottom: 70px;
    text-align-last:center;
  }
  .select{
    width: 40%;
    left: 50%;
    position: relative;
    top: 100px;
  }
  .select2{
    top: 100px;
  }
  .hidden{
    display: none
  }
  .opacity {
    opacity : 0.2
  }
  .visible {
    display: block;
  }
  .howto{
    color: white;
    height: 100vh
  }
  #timebar{
    border-radius: 10px;
    background: red;
    color: white;
  }
  #canvascontainer {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

  }
  #rest{  
    width: 400px;
  }
  h3 {
    font-family: system-ui;
    font-size: 25px;
  }
  #game-board {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gameOver {
    width: 100%;
    height: 100%;
  }

  #scoreContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 50px;
    height: auto;
  
  }
  .boxscore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    padding: 10px;
    min-width: 80px;
    min-height: 35px;
    border-radius: 10px;
    justify-content: space-around;
    background-color: darksalmon;
    font-weight: bold;
    color: white;
  }
  .selected{
    background: green
  }

  .mode .modeselection {
    display: inline-block;
    cursor: pointer;
    width: 250px; 
    border: 1px solid;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkseagreen;
    color: white;
    font-size: 20px;
}

.mode input[type=radio] {
    display: none;
}

.mode input[type=radio]:checked + .modeselection {
    background-color: green;
}
.mode{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.error{
  color: red;
}
#logo{
  width: 260px;
}
.logo2 {
  width: 100%;
  display: flex;
  background-color:darkseagreen   

}
.logo{
    background-color: darkseagreen;
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;

}
.hidden2 {
  display: none;

}

.visible2 {
  font-size: 25px;
  display: block;
  color: red;
  border: 1px solid;
  width: 80%;
  left: 10%;
  position: relative;
  border-radius: 10px;
}

#time{
  font-size: 25px;
}
#over {
  margin-top: 40px;
}

@media (max-width: 815px) {
  .howto{
    padding-bottom: 50px;
    height: auto
  }
  #canvascontainer{
    width: 70%;

  }
  #canvas {
    width: 100%;
    margin-bottom: 50px;
  }
  #game-board{
    flex-direction: column
  }
  .logo{
    position: relative;
    width: 100%;
  }
  .select{
    width: 100%;
    left: 0;
    position: relative;
    top: 40px;
  }
  .logo2{
    display:block
  }
  #return {
    margin-top: 0px;
    width: 100%;
    left: 0;
    


  }
}